@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #020617; /* Matches your theme */
}

section {
  scroll-margin-top: 64px; /* mobile default */
}

@media (min-width: 640px) {
  section {
    scroll-margin-top: 80px; /* desktop */
  }
}
